[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
nhs-dos = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"
circus = "*"
ansible = "*"

[requires]
python_version = "3.6"
