-i https://pypi.org/simple/
ansible==2.6.18
attrs==20.2.0
bcrypt==3.2.0
cffi==1.14.3
circus==0.14.0
cryptography==3.2
iowait==0.2
jinja2==2.11.2
markupsafe==1.1.1
more-itertools==8.5.0
paramiko==2.7.2
pluggy==0.6.0
psutil==5.7.3
py==1.9.0
pycparser==2.20
pynacl==1.4.0
pytest==3.5.1
pyyaml==5.3.1
pyzmq==19.0.2
six==1.15.0
tornado==6.0.4
